.App {
  min-height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

h3 {
  text-align: center;
  margin: auto;
}

h4 {
  text-align: center;
  margin: auto;
}
.App__navbar {
  padding: 1rem 1rem;
  list-style: none;
  background-color: black;
  color: white;
}

.App__navbar-item {
  display: inline-block;
  margin: auto 1rem;
}

.App__navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.App__navbar-brand {
  font-size: 1.9rem;
  font-weight: 600;
  color: white;
}

.App__navbar-item-right {
  float: right;
}

a {
  color: white;
  text-decoration: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
